<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted text-center">hjw43ok@moment.com</p>
                <p class="text-muted text-center">2010-1234-5678</p>
                <p class="text-muted text-center">서울시 강남구 도산대로 27길 36, 301</p> <br/>
                <p class="text-muted text-center">© 2023 Moment</p>
            </div>
        </div>
    </div>
</footer>
</html>