<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a class="logo" href="/"><h1>모이개</h1></a>
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/meetings/on">모일래❓</a></li>
                        <li><a href="/meetings/on">모이자❗️</a></li>
                        <li><a href="/">모이 굿즈</a></li>
                        <li><a href="/">마이페이지</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
</html>