@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SLEIGothicTTF';
}

body {
    font-size: 15px;
    color: #222222;
    line-height: 1.6em;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2, h3, h3, h4, h5, h6 {
    font-weight: 500;
    margin-top: 0;
}

header .logout a {
    font-size: 14px;
}

header .logout a:last-child {
    margin-right: 50px;
}

/* 인증 & 예약 공통 */
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.init {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* display: inline-block; */
    margin: 350px;
}

/* 본인인증 */
.init.check h1 {
    font-size: 45px;
    color: #FFFFFF;
    margin-bottom: 70px;
}

/* 등록 */
.register {
    width: 460px;
    margin: auto;
}

.register .hR {
    color: dodgerblue;
    text-align: center;
}

.info {
    margin: 5px 0;
}

/* .register input */
.register input:not(input[type=number]) {
    border: 1px solid #dadada;
    width: 100%;
    padding: 15px;
    margin-bottom: 3px;
}

.register input[type=submit] {
    color: #fff;
    background-color: dodgerblue;
    margin-top: 20px;
}

.register input:not(input[type=number]):focus {
    border: 1px solid skyblue;
}

/* .register button */
.register button:not(input[type=number]) {
    border: 1px solid #dadada;
    width: 100%;
    padding: 15px;
    margin-bottom: 3px;
}

.register button[type=submit] {
    color: #fff;
    background-color: dodgerblue;
    margin-top: 20px;
}

.register button:not(input[type=number]):focus {
    border: 1px solid skyblue;
}

.datetime-tooltip {
    margin-left: 5px;
    font-size: 0.9em;
    color: dodgerblue;
    text-align: center;
}

.radio-container {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
    text-align: center;
}

.radio-container input[type="radio"] {
    margin-right: 5px;
}

.radio-wrapper {
    display: flex;
}

.pagination {
    margin-top: 150px;
    justify-content: center;
    font-size: calc(1rem + 4px); /* 기본 폰트 크기에 10px를 더합니다. */
}

.pagination .page-link-list {
    margin: 5px;
}