<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🐾 모이개 🐾</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Favicon 추가 -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<style>
    .navbar-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    .nav-item {
        padding: 0 10px;
        text-align: center;
    }

    .navbar-brand {
        margin-right: auto;
    }
</style>
<header style="background-color: black;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav w-100">
                    <div class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">On 모임</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">Off 모임</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">모이 굿즈</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">마이페이지</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<body class="bg-light">
<!-- 상단 네비게이션 바 -->
<section class="jumbotron text-center">
    <div class="container">
        <h1>🐾 모이개 🐾</h1>
        <p class="lead text-muted">
            <br/>태그와 지역 기반으로 반려견 견주 ON/OFF 모임을 찾고 참여하세요.<br/><br/><br/>
        </p>
        <p>
            <a th:href="@{/sign-up}" class="btn btn-primary my-2">회원 가입</a>
            <a th:href="@{/login}" class="btn btn-primary my-3">로그인</a>
        </p>
    </div>
</section>
<div class="container text-center">
    <p class="lead text-muted">
        <br/>모임 고르기 어려울 땐 모이개 🌟<br/><br/>
    </p>
</div>
</body>

</html>